/*------ top section ------*/
.top {
    margin-top: 200px;
}
.top h2 {
    font-size: 44px;
}
.plan {
    margin: 50px 0 30px 0;
}
.top .plan .container {
    position: relative;
    padding: 0 20px 0 30px;
    font-size: 18px;
    cursor: pointer;
}
.plan .container input {
    display: none;
}

/*------ top section radio style ------*/
.new-radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    border: 1px solid black; 
    background-color: white;
    border-radius: 50%;
}
.container .new-radio:after {
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
}

/*------ top section radio commands ------*/
.new-radio:after {
    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~ .new-radio {
    background-color: rgb(0, 97, 255);
}
.container input:checked ~ .new-radio:after {
    display: block;
}

/*------ columns section ------*/
.columns {
    background-color: white;
}
.columns::after {
    content: "";
    display: table;
    clear: both;
}
.left ,.center ,.right {
    float: left;
    border: 1px solid lightgrey;
    width: calc(100% / 3 - 40px);
}
.center {
    margin: 0 60px;
}

/*------ left column ------*/
.subject {
    text-align: center;
    font-size: 20px;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}

/*------ left column frame ------*/
.left-frame {
    padding: 0 10%;   
}
.left-frame h3 {
    font-size: 26px;
    padding: 20px 0 10px 0;
}
.left-frame h4 {
    padding: 30px 0 20px 0;
}
hr {
    width: 30%;
}

/*------ left column price ------*/
.price {
    padding-bottom: 25px;
}
.price section {
    font-weight: 700;
}
.price span {
    color: lightgrey;
}

/*------ left column price advantage ------*/
.price-advantage ul {
    padding-left: 20px;
}
.price-advantage ul li {
    padding: 8px 0;
}
#a1::before ,#a2::before ,#a3::before {
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em; 
    width: 1.3em; 
}
#a1::before {
    content: "\f007"; 
}
#a2::before {
    content: "\f07b"; 
}
#a3::before {
    content: "\f303"; 
}

/*------ left column button ------*/
.btn {
    padding: 30px 0 20px 0;
}
.btn p {
    padding-top: 15px;
}
.btn p a {
    text-decoration: none;
    color: rgb(0, 97, 255);
}
#free30 {
    background-color: rgb(0, 97, 255);
    color: white;
    border: 1px transparent;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 40px;
}

/*------ left column price-description ------*/
ul li {
    list-style-type: none;
}
.price-description {
    padding-left: 20px;
}
.price-description ul li {
    padding: 8px 0;
}
.price-description ul li::before {
    content: "\f00c"; 
    color: rgb(0, 97, 255);
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em; 
    width: 1.3em; 
}

/*------ bottom section ------*/
.bottom {
    margin-top: 60px;
    border: 1px solid lightgrey;
    position: relative;
    background-color: white;
}
.subject1 {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;
}
.bottom-left {
    width: 70%;
    padding: 25px 0px 25px 35px;
}
.bottom-left h3 {
    font-size: 30px;
}
.bottom-left h4 {
    font-size: 18px;
}
.bottom-left > * {
    padding: 10px 0;
}
.bottom-right {
    position: absolute;
    top: 29%;
    right: 3%;
}

