/*------ general ------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 1000vh;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}
.frame {
    max-width: 1080px;
    margin: auto;
}
.jumbotron-frame ,.footer-frame {
    max-width: 1300px;
    margin: auto;
}