/*------ sezione sponsor title ------*/
.sponsor-title h2 {
    margin: 100px 0 20px 0;
    font-size: 42px;
}
.sponsor-title a {
    color: rgb(0, 97, 255);
}

/*------ sezione sponsor main ------*/
.sponsor-main {
    margin-top: 60px;
} 
.sponsor-main::after {
    content: "";
    display: table;
    clear: both;
}

/*------ sezione sponsor main square ------*/
.sponsor-left {
    float: left;
    height: 30vw;
    width: 30vw;
    position: relative;
}
.sponsor-center {
    float: left;
    height: 30vw;
    width: calc(40vw - 20px);
    background-color: #f5f5f5;
    overflow-y: auto;
}
.sponsor-right {
    float: left;
    width: 30vw;
    height: 30vw;
    position: relative;
}
.square {
    width: 15vw;
    height: 15vw;
}

/*------ sezione sponsor main square logo ------*/
.sp-img {
    width: 8vw;
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(152deg) brightness(105%) contrast(101%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

/*------ sezione sponsor main square left ------*/
.sp-left-1 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #a2d39b;
    border: 10px solid #d0e9cd;
}
.sp-left-2 {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #61082b;
}
.sp-left-3 {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #0093ce;
}
.sp-left-4 {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #ff1c1c;
}

/*------ sezione sponsor main square center ------*/
.sp-center-text {
    padding: 40px;
}
.sp-center-img {
    width: 10vw;
}
.sp-center-text hr {
    border: 1px solid red;
    width: 6vw;
    margin: 30px 0 40px 0;
}
.sp-center-text p {
    margin-bottom: 40px;
    font-size: 1vw;
}

/*------ sezione sponsor main square right ------*/
.sp-right-1 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #d5001f;
}
.sp-right-2 {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #b4d0e7;
}
.sp-right-3 {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #0d2481;
}
.sp-right-4 {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #ffd830;
}

/*------ sezione faq dropbox ------*/
.faq-title {
    background-color: #b4d0e7;
}